<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Backbone examples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="libs/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">it4p</a>
        </div>
    </div>
</div>


<div class="container">


    <div class="row">
    <div class="span8" id="myAppView">
        <h2>Backbone collection example</h2>
        <button class="addObject btn btn-success"><i class="icon-plus icon-white"></i></button>
        <button class="toJSON btn btn-primary">to JSON</button>
        <button class="connect btn btn-info">real-time</button>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Size</th>
                <th>Description</th>
                <th>Actions</th>
            </thead>
            <tbody class="myObjectList">
            </tbody>
        </table>
    </div>
    </div>



</div>
</body>

<script type="text/template" id="myObject">
        <td class="name" contenteditable="true"><%- name %></td>
        <td class="size form-horizontal">
            <button data-rel="-10" class="changeSize btn btn-small btn-primary">-</button>
            <input class="size" type="number" value="<%- size %>" style="width: 40px;">
            <button data-rel="10" class="changeSize btn btn-small btn-success">+</button>
        </td>
        <td class="desc" contenteditable="true"><%- desc %></td>
        <td>
            <!--<button class="btn btn-small btn-warning"><i class="icon-edit icon-white"></i></button>-->
            <button class="deleteRow btn btn-small btn-danger"><i class="icon-remove icon-white"></i></button>
        </td>
</script>

<script src="libs/js/jquery.js"></script>
<script src="libs/js/underscore.js"></script>
<script src="libs/js/backbone.js"></script>
<script src="libs/js/sockjs.js"></script>
<script src="modules/connection.js"></script>
<script src="models/ModelMyObject.js"></script>
<script src="views/ViewMyApp.js"></script>
<script src="views/ViewMyObject.js"></script>
<script src="main.js"></script>

</html>
